<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-input formControlName="email" label="Correo" type="email" placeholder="Ej: admin@helpdesk.dev">
        </app-input>

        <app-input formControlName="password" label="Contraseña" type="password" placeholder="Ej: Admin123!">
        </app-input>

        <app-button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</app-button>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p>¿No tienes cuenta? <a routerLink="/auth/register">Regístrate</a></p>
</div>