<div class="register-container">
    <h2>Registrarse</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <app-input formControlName="name" label="Nombre" type="text" placeholder="Ej: Juan Pérez">
        </app-input>

        <app-input formControlName="email" label="Correo" type="email" placeholder="Ej: juan@ejemplo.com">
        </app-input>

        <app-input formControlName="password" label="Contraseña" type="password" placeholder="Mínimo 6 caracteres">
        </app-input>

        <app-button type="submit" [disabled]="registerForm.invalid">Registrarse</app-button>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p>¿Ya tienes cuenta? <a routerLink="/auth/login">Iniciar Sesión</a></p>
</div>